<!DOCTYPE html>
<html xmlns:th=http://www.thymeLeaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Listar Docentes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container mt-4">
	<a th:href="@{/newDocente}" class="btn btn-primary">Nuevo</a>
		<table class="table">
			<thead>
				<tr>
					<th>IdDocente</th>
					<th>Nombres</th>
					<th>Identificacion</th>
				</tr>
				</thead>
			
			<tbody>
				<tr th:each="docente:${docentes}">
					<td th:text="${docente.id}"></td>
					<td th:text=${docente.Nombres}></td>
					<td th:text=${docente.Identificacion}></td>
					<td>
						<a th:href="@{/editarDocente/}+${docente.id}" class = "btn btn-warning">Editar</a>
						<a th:onclick="eliminar([[${docente.id}]])" class = "btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
			<div class="card-footer">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a th:href="@{/newDocente}">Add Docente</a></li>
                      <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    </ol>
				</nav>
			</div>
			
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
</body>
</html>