<!DOCTYPE html>
<html xmlns:th=http://www.thymeLeaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Listar Asignaturas Docentes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-4">
		<table class="table">
			<thead>
				<tr>
					<th>IdAsignatura</th>
					<th>IdDocente</th>
					<th>NombreAsg</th>
					<th>CodigoAsg</th>
					<th>Identificacion</th>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="asgdoc : ${listaAsgdocentes}">
					<td th:text="${asgdoc.idAsg}"></td>
					<td th:text="${asgdoc.idDoc}"></td>
					<td th:text=${asgdoc.NombreAsg}></td>
					<td th:text=${asgdoc.CodigoAsg}></td>
					<td th:text=${asgdoc.Identificacion}></td>
					<td th:text=${asgdoc.Nombres}></td>
			</tbody>
			<div class="card-footer">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a th:href="@{/newAsignatura}">Add Asignatura</a></li>
                      <!-- <li class="breadcrumb-item"><a th:href="@{/newAsgDoc/}+${asgdoc.idAsg}">Asignatura->Docente</a></li> -->
                      <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    </ol>
				</nav>
			</div>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
</body>
</html>